.trivia-event {
  &__header {
    &__title {
      margin-top: 15%;
      padding: 0px 20px;
      position: relative;
      color: $white;
      .location,
      .date {
        font-size: 2rem;
        line-height: 2.2rem;
        margin: 0px 0px 10px;
      }
      @include media("notebook-large") {
        margin-top: 10px;
        text-align: center;
      }
    }
    &__ctas {
      padding: 0px 20px;
      .button {
        margin: 5px 10px 0px 0px;
      }
      @include media("notebook-large") {
        text-align: center;
        margin: 5px 10px;
      }
    }
    &__image {
      height: 400px;
    }
  }
  &__about {
    h2 {
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 5px;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }
    a {
      color: $button-blue;
    }
  }
  &__rules {
    text-align: center;
    h2 {
      margin-bottom: 15px;
    }
    ul {
      display: inline-block;
    }
    li {
      margin-bottom: 10px;
      position: relative;
      left: -5px;
      &:before {
        content: "-";
        position: relative;
        left: -5px;
      }
    }
  }
  &.april-2020,
  &.january-2021,
  &.february-2021 {
    .trivia-event__header__image {
      height: 400px;
      background-size: contain;
      background-color: $gilding;
    }
  }
}
