.trivia-event {
  &__header {
    &__title {
      padding: 0px 20px;
      position: relative;
      top: 33.333%;
      color: $white;
      .location,
      .date {
        font-size: 2rem;
        line-height: 2.2rem;
        margin: 0px 0px 10px;
      }
    }
    &__image {
      height: 400px;
    }
  }
  &__about {
    h2 {
      margin-bottom: 10px;
    }
  }
  &__rules {
    text-align: center;
    h2 {
      margin-bottom: 15px;
    }
    ul {
      display: inline-block;
    }
    li {
      margin-bottom: 10px;
      position: relative;
      left: -5px;
      &:before {
        content: '-';
        position: relative;
        left: -5px;
      }
    }
  }
}