button,
.button,
.btn,
input[type="submit"] {
	border: $button-border;
	border-radius: $button-radius;
	display: inline-block;
	height: $button-height;
	line-height: $button-height;
	padding: $button-padding;
	box-sizing: border-box;
	text-align: center;
	text-transform: none;
	vertical-align: middle;
	cursor: pointer;
	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
	background-color: $button-blue;
  color: $white;
  text-decoration: none;
	@include elevate(1);
	transition: all 300ms ease-in-out;
	&:hover {
		background-color: lighten($button-blue, 5%);
		@include elevate(2);
	}
	&--skeleton {
		background-color: transparent;
		border: 1px solid;
	}
	&--flat {
		@include elevate(0);
		background-color: transparent;
		&:hover {
			color: $white !important;
			background-color: $text-black;
			@include elevate(0);
		}
	}
	&:disabled {
		@include elevate(0);
		cursor: not-allowed;
		&:hover {
			@include elevate(0);
		}
	}
}