.container {
  margin: 0px auto;
  max-width: $container-max-width;
  width: $container-width;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	> * {
    min-height: 10px;
    box-sizing: border-box;
  }
}
@for $column from 1 through $grid-columns {
  @for $num from 1 through $column {
    // Push
		.grid-push-#{$num}of#{$column} {
      left: ($num/$column) * 100%;
    }
		// Pull
		.grid-pull-#{$num}of#{$column} {
      right: ($num/$column) * 100%;
    }
		// Grid Col
		.grid-#{$num}of#{$column} {
      width: ($num/$column) * 100%;
			position: relative;
    }
  }
}
@each $key, $value in $breakpoints {
  @media #{map-get($value, 'breakpoint')} {
    @for $column from 1 through $grid-columns {
      @for $num from 1 through $column {
        .grid-#{$num}of#{$column}--#{$key} {
          width: ($num/$column) * 100%;
					left: 0;
					right: 0;
        }
      }
    }
  }
}