@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:100,400,700,800&display=swap');

// Font Styles
html {
  font-size: 62.5%;
}

h1, h2, h3, th {
  font-family: $body-font;
  &--ghost {
    opacity: .33;
  }
}

.logo {
  font-weight: 800;
  color: $marquee-red;
  letter-spacing: 2px;
  text-shadow: 1px 1px $black;
}

.header, .section-header {
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
}

p, a, label, input, select, li, div, td {
  font-family: $body-font;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
}

em {
  font-style: italic;
}

.cta {
  font-size: 1.2rem;
}

.light-weight {
  font-weight: 100;
}

h1,
.logo {
  font-size: 4.4rem;
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 700;
  @include media('tablet-small') {
    font-size: 3rem;
  }
}

h2,
.section-header {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
}

h3,
.section-subheader {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a,
.link {
  text-decoration: none;
  color: $button-blue;
}