// Container
$container-max-width: 1280px;
$container-width: 85%;

// Grid Columns
$grid-columns: 16;

// Breakpoints
$breakpoints: (
	monitor-cinema: ( breakpoint: "(min-width: 3200px)" ),
	monitor-tele: ( breakpoint: "(min-width: 1800px)" ),
	monitor: ( breakpoint: "(max-width: 1400px)" ),
	monitor-small: ( breakpoint: "(max-width: 1300px)" ),
	notebook-large: (breakpoint: "(max-width: 1199px)" ),
	notebook-small: (breakpoint: "(max-width: 949px)" ),
	tablet-large: (breakpoint: "(max-width: 849px)" ),
	tablet-small: (breakpoint: "(max-width: 749px)" ),
	palm: (breakpoint: "(max-width: 540px)" ),
	phone: (breakpoint: "(max-width: 420px)" )
);

// Color Palette
$black: #000;
$white: #fff;
$button-blue: #2176FF;
$background-blue: #324A5F;
$background-black: #1D1E2C;
$marquee-red: #961A18;
$light-board-white: #FBFFFE;
$light-board-off-white: #EFF1ED;
$text-black: #0E1428;
$text-purple: #2E294E;
$gilding: #F5BB00;
$orange: #F46036;
$light-blue: #A8DADC;
$green: #1B998B;
$cta-purple: #858AE3;
$cta-dark-purple: #613DC1;

// Typography
$default-font-size : 1rem;
$default-line-height : 1.33rem;
$header-font: 'Limelight', sans-serif;
$body-font: 'Merriweather Sans', sans-serif;

// Buttons
$button-border: none;
$button-radius: 2px;
$button-height: 36px;
$button-padding: 0 2rem;