@import "reset";
@import "grid";
@import "typography";
@import "buttons";
@import "sections";
@import "cards";

#app {
  background-color: $white;
  min-height: 100vh;
}

.surface {
  border-radius: 4px;
  background-color: $white;
}

.content {
  padding: 57px 0px 88px;
  @include media('tablet-small') {
    padding-bottom: 100px;
  }
}

.hero {
  &__img {
    width: 100%;
  }
}

#site-header {
  background-color: $gilding;
  @include elevate(3);
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  .container {
    position: relative;
  }
  .logo-container {
    text-align: center;
  }
  nav {
    text-align: right;
  }
  .menu {
    margin: 10px 0px;
    position: relative;
    top: 11px;
    &__item {
      display: inline-block;
      margin: 0px 5px;
      &:first-child {
        margin-left: 0px;
        .menu__link {
          padding-left: 0px;
        }
      }
      &:last-child {
        margin-right: 0px;
        .menu__link {
          padding-right: 0px;
        }
      }
    }
    &__link {
      padding: 5px;
      color: $text-purple;
      font-weight: 700;
      font-size: 1.5rem;
      transition: color .25s ease;
      &:hover {
        color: $cta-purple;
      }
    }
    @include media('tablet-large') {
      top: 0px;
    }
  }
  .next-event {
    position: absolute;
    right: 0px;
    text-align: center;
    &__link {
      font-weight: 800;
      font-size: 3rem;
      color: $cta-dark-purple;
      text-shadow: 2px 2px $black;
      span {
        display: block;
      }
    }
    &__title,
    &__date {
      font-weight: 700;
      color: $text-purple;
      text-shadow: none;
      font-size: 2.5rem;
    }
    &__title {
      margin-top: 5px;
    }
    &__date {
      text-transform: none;
    }
  }
}

#site-footer {
  background-color: $background-black;
  text-align: center;
  padding: 20px 0px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  @include elevate(3);
  .social-links {
    li {
      display: inline-block;
      padding: 10px;
      &.social-links__cta {
        font-weight: 700;
        color: $cta-purple;
        @include media('tablet-small') {
          display: block;
          padding: 5px;
        }
      }
    }
  }
  .copyright {
    color: $white;
    @include media('tablet-small') {
      margin-top: 5px;
    }
  }
}