@import "reset";
@import "grid";
@import "typography";
@import "buttons";
@import "sections";
@import "cards";

#app {
  background-color: $white;
  min-height: 100vh;
}

.surface {
  border-radius: 4px;
  background-color: $white;
}

.content {
  padding: 120px 0px 88px;
  @include media('tablet-large') {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  img {
    margin-bottom: -5px;
  }
}

.background-image {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    min-height: 100%;
    left: 50%;
    min-width: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.hero {
  &__img {
    width: 100%;
  }
}


.section {
  background-color: $white;
  padding: 40px 0px;
  &--yellow {
    background-color: $gilding;
  }
  &--red {
    background-color: $marquee-red;
    color: $white;
  }
  &--blue {
    background-color: $background-blue;
    color: $white;
  }
}

#site-header {
  background-color: $gilding;
  @include elevate(3);
  padding: 10px 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  .container {
    position: relative;
  }
  .logo-container {
    text-align: center;
    .logo {
      font-size: 5rem;
      @include media('tablet-large') {
        font-size: 3rem;
      }
    }
  }
  nav {
    text-align: center;
  }
  .menu {
    margin: 2px 0px 15px;
    position: relative;
    top: 11px;
    &__item {
      display: inline-block;
      margin: 0px 5px;
      &:first-child {
        margin-left: 0px;
        .menu__link {
          padding-left: 0px;
        }
      }
      &:last-child {
        margin-right: 0px;
        .menu__link {
          padding-right: 0px;
        }
      }
    }
    &__link {
      padding: 5px;
      color: $text-purple;
      font-weight: 700;
      font-size: 1.8rem;
      transition: color .25s ease;
      &:hover {
        color: $cta-purple;
      }
    }
    @include media('tablet-large') {
      top: 0px;
    }
  }
  .next-event {
    position: absolute;
    right: 0px;
    text-align: center;
    &__link {
      font-weight: 800;
      font-size: 3rem;
      color: $cta-dark-purple;
      text-shadow: 2px 2px $black;
      span {
        display: block;
      }
    }
    &__title,
    &__date {
      font-weight: 700;
      color: $text-purple;
      text-shadow: none;
      font-size: 2.5rem;
    }
    &__title {
      margin-top: 5px;
    }
    &__date {
      text-transform: none;
    }
  }
}

.sponsors {
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 25px;
  }
  &__sponsor {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    a {
      display: block;
      margin: 0px auto;
    }
    img {
      max-width: 85%;
      display: inline-block;
    }
  }
}
.signup {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    margin-bottom: 10px;
  }
}
.mailchimp-signup {
  max-width: 500px;
  margin: 0px auto;
  #mc_embed_signup {
    form {
      h2 {
        display: none;
      }
      padding: 0px;
    }
  }
}

#site-footer {
  background-color: $background-black;
  text-align: center;
  padding: 20px 0px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  @include elevate(3);
  .social-links {
    li {
      display: inline-block;
      padding: 10px;
      &.social-links__cta {
        font-weight: 700;
        color: $cta-purple;
        @include media('tablet-small') {
          display: block;
          padding: 5px;
        }
      }
    }
  }
  .copyright {
    color: $white;
    @include media('tablet-small') {
      margin-top: 5px;
    }
  }
}